._button_1fbb5_1 {
    display: inline-block;
    border: 3px solid currentColor;
    padding: .5em 1em;
    font-weight: 700;
    text-transform: uppercase
}

.hero:where(.astro-YJY46LTV) {
    padding: 8rem;
    display: flex;
    background-color: var(--t-fg);
    background-repeat: no-repeat;
    background-size: cover;
    /* background-size: 100%; */
    min-height: 25vw;
    color: #fff;
    flex-direction: column;
    align-items: center;
    justify-content: center
}

.tag:where(.astro-YJY46LTV) {
    margin-left: .5em;
    margin-right: .5em;
    text-transform: uppercase
}

.tag:where(.astro-YJY46LTV):nth-of-type(1n) {
    color: var(--c-green)
}

.tag:where(.astro-YJY46LTV):nth-of-type(2n) {
    color: var(--c-orange)
}

.tag:where(.astro-YJY46LTV):nth-of-type(3n) {
    color: var(--c-blue)
}

.tag:where(.astro-YJY46LTV):nth-of-type(4n) {
    color: var(--c-pink)
}

.title:where(.astro-YJY46LTV) {
    font-size: clamp(24px, 8vw, 80px);/*24 min, sinon 8 vw max 80px*/
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: .0625em
}

.leadIn:where(.astro-YJY46LTV) {
    color: var(--t-bg);
    background-color: var(--t-fg)
}

.tagline:where(.astro-YJY46LTV) {
    font-weight: 300;
    font-size: var(--f-u3);
    line-height: 1.5
}

.content:where(.astro-YJY46LTV) {
    font-size: var(--f-u1);
    line-height: 2.2
}